agm-map {
    /* height: 800px; */
    width: 700px; height: 800px;  display:inline-block; 
   }

.form{
    padding: 0.8cm;
    width: fit-content;
    margin-bottom: 0.8cm;
    margin-top: 0.8cm;
    margin-left: auto;
    margin-right: auto;
}

.mat-display-1{
    font-size: 0.5cm
}

.result{
    color: darkviolet;
    display: inline;
}